.btn{
    -fx-background-radius:0px;
    -fx-background-color: rgba(37,37,38,1);
    -fx-border-width: 1;
    -fx-border-color:rgba(63,63,70,1);
}
.btn_exit{
    -fx-background-radius:5px;
    -fx-background-color: rgba(37,37,38,1);
}
.btn_exit:hover{
    -fx-border-color: rgba(0,122,204,1);
    -fx-border-width: 0;
    -fx-background-color: rgba(255, 9, 9, 0.75);
    -fx-text-fill: white;
}

.btn:hover{
    -fx-border-color: rgba(0,122,204,1);
    -fx-background-color: rgba(63, 63, 70, 1);
    -fx-text-fill: white;
}

.frame{
    -fx-background-color: rgba(37,37,38,1);
}

.txf_username{
    -fx-border-width: 1px;
    -fx-background-radius:0px;
    -fx-border-color:rgba(63,63,70,1);
    -fx-background-color: rgba(51, 51, 55, 0.22);
    -fx-text-fill: white ;
}
.txf_username:hover{
    -fx-border-color: rgba(0,122,204,1);
    -fx-background-color: rgba(63, 63, 70, 1);
}
.txf_username:focused{
    -fx-border-color: rgba(0,122,204,1);
    -fx-background-color: rgba(63, 63, 70, 1);
}


