.btn{
    -fx-background-radius:0px;
    -fx-background-color: rgba(37,37,38,1);
    -fx-border-width: 1;
    -fx-border-color:rgba(63,63,70,1);
    -fx-text-fill: #c3c3c3;
}

.btn:hover{
    -fx-text-fill: white;
    -fx-border-color: rgba(0,122,204,1);
    -fx-background-color: rgba(63, 63, 70, 1);
}

.btn_exit{
    -fx-background-radius:5px;
    -fx-background-color: rgba(37,37,38,1);
}
.btn_exit:hover{
    -fx-border-color: rgba(0,122,204,1);
    -fx-border-width: 0;
    -fx-background-color: rgba(255, 84, 57, 1);
    -fx-text-fill: white;
}

.frame{
    -fx-background-color: rgba(37,37,38,1);
    -fx-border-width: 1;
    -fx-border-color: rgba(0,122,204,1);
}